  <!-- footer section start -->
  <section class="footer">

    <div class="share">
        <a href="www.facebook.com" class="btn">facebook</a>
        <a href="www.twitter.com" class="btn">twitter</a>
        <a href="www.instagram.com" class="btn">instagram</a>
        <a href="www.Github.com" class="btn">GitHub</a>
        <a href="www.linkedin.com" class="btn">linkedin</a>
    </div>

    <h2 class="creadit">created by <span>Saif, Umair and Ahsan</span></h2>
    <h3 class="copyright"> &#169 2023 copyright-All Rights Reserved</h3>

  </section>

   <!-- footer section ends -->

   <!-- loder -->
<!-- 
   <div class="loader-container">
       <img src="images/loader.gif" alt="">
   </div> -->




   <!-- js file link -->
   <script src="script.js"></script>
</body>
</html>