<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- icone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <!-- css file -->
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Foodefy</title>
</head>
<body>
    
    
    <!-- header -->
    
    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i>Foodefy</a>
        
        <div id="menu-bar" class="fas fa-bars"> </div>
        
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#popular">popular</a>
            <a href="/menu">Menu</a>
            <span class="fa-solid fa-cart-shopping"></span>
        </nav>
    </header>