<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <style>
        body{
            background: url("/images/ordcnfrm.jpg") no-repeat;
        }
        a{
            position: relative;
            top:690px;
            left:335px;
            font-size: 51px;
            background-color:#ff4f5a ;
            border: 0px;
            border-radius: 50px;
            color:white;
            padding: 1.5%;
            text-decoration: none;
            
            
        }
        a:hover{
            background-color: white;
            color:#ff4f5a;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div>
        <a href="/">keep ordering</a>
    </div>
    
</body>
</html>