
body {
    background-color: #E8ECEF;
  }
  
  .centered {
      padding-top: 200px;
      text-align: center;
  }


/* 
  .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #ff5353;
    background-color: #ff5353;
  }
   */